*{
    background: rgb(61, 58, 58);
    color: rgb(187, 187, 187);
}

h4 {
    display: inline-block;
    margin-right: 4px;
}

.tempList {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-row: auto auto;
}

.active {
    background: rgb(187, 187, 187);
    color: rgb(61, 58, 58);
}